.title {
    font-family: Verdana;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0px;
}

.level {
    margin-top: 0px;
    font-family: Verdana;
    font-size: 20px;
    color: grey;
}

.details {
    font-family: Verdana;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;;
}

.get-started-button {
    margin-top: 25px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer
}

p {
font-family: Verdana;
margin-top: 0;
margin-bottom: 0;
}

.title-solution {
font-weight: bold;
font-size: 18px;
margin-bottom: 3px;
}

.subtitle {
color: rgb(100, 100, 100);
margin-bottom: 18px;
}

.content {
width: 300px;
line-height: 22px;
margin-bottom: 18px;
}

.button {
font-family: Verdana;
background-color: green;
color: white;
border: none;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
border-radius: 6px;
cursor: pointer;
}