p {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.mine {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 20px;
}

.link {
  color: rgb(58, 108, 199);
}

.my-title {
    font-weight: bold;
    font-size: 35px;
}

.my-subtitle {
    font-size: 20px;
}

.my-link {
    font-size: 20px;
    color: rgb(41, 41, 148);
    cursor: pointer;
}